/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

body {
    font-family: 'Rubik Scribble', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    flex-direction: column;
}

.container {
    text-align: center;
}

#title-container {
    position: relative;
    display: inline-block;
    font-size: 4rem;
}

/* Gameplay Animation Styles */
#game-animation-container {
    position: relative;
    height: 200px;
    width: 100px;
    margin: 20px auto;
}

.pole {
    position: absolute;
    height: 200px;
    width: 10px;
    background-color: #7a5d62;
    left: 135px;
    top: 0;
}



.top-bar {
    position: absolute;
    height: 10px;
    width: 100px;
    background-color: #7a5d62;
    top: 0;
    left: -90px;
}

.bottom-bar {
    position: absolute;
    background-color: #7a5d62;
    height: 5px;
    width: 75px;
    top: 200px;
    left: -33px;
    
}

.rope {
    position: absolute;
    height: 50px;
    width: 5px;
    background-color: #7a5d62;
    top: 0;
    left: -95px;

}


.game-hangman-part {
    display: none;
    position: absolute;
    background-color: #000;
}

.game-hangman-part.head {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 30px;
    left: 25px;
}

.game-hangman-part.body {
    width: 10px;
    height: 83px;
    top: 45px;
    left: 40px;
}

.game-hangman-part.left-arm,
.game-hangman-part.right-arm {
    width: 10px;
    height: 50px;
    top: 45px;
    
}

.game-hangman-part.left-arm {
    transform: rotate(-45deg);
    transform-origin: right bottom;
    left: 35px;
}

.game-hangman-part.right-arm {
    transform: rotate(45deg);
    transform-origin: left bottom;
    left: 45px;
}

.game-hangman-part.left-leg,
.game-hangman-part.right-leg {
    width: 10px;
    height: 50px;
    top: 123px;
    
}

.game-hangman-part.left-leg {
    transform: rotate(45deg);
    transform-origin: left top;
    left: 37px;
}

.game-hangman-part.right-leg {
    transform: rotate(-45deg);
    transform-origin: right top;
    left: 45px;
}

#word {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the spacing as needed */
    font-size: 2em;
    margin-bottom: 20px;
}

.letter {
    display: inline-block;
    width: 1em;
    text-align: center;
    color: black;
    font-family: 'Patrick Hand', cursive;
    
}

#letters {
    margin-bottom: 20px;
    color: black;
}

#message {
    font-size: 1.2em;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #e1b5a0dc;
    color: black;
    border: 2px solid #C70039;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px; 
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ccc;
}

button[disabled] {
    text-decoration: line-through;
    color: grey;
    cursor: not-allowed;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

#message-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

#play-again-container {
    display: none;
    margin-top: 10px;
}

#play-again {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#play-again:hover {
    background-color: #45a049;
}

#switch-mode {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#switch-mode:hover {
    background-color: #45a049;
}

#strike-counter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.strike-box {
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.strike {
    color: red;
    font-weight: bold;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.popup h2 {
    margin: 0;
    font-size: 2em;
    color: #4CAF50;
}

.popup p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
    font-size: 14px;
    white-space: nowrap;
}

#play-now {
    margin-top: 110px; 
    margin-left: 185px;
    padding: 15px 30px;
    font-size: 24px;
    background-color: #725c40; /* A vibrant color */
    color: white;
    border: 2px solid #C70039; /* A contrasting border */
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Rubik Scribble', cursive;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

#play-now:hover {
    background-color: #f0b55d;
    transform: scale(1.1);
}

.home-hangman-part {
    display: none;
    position: absolute;
    background-color: #000;
}

.home-hangman-part.head {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 0;
    left: 20px;
}

.home-hangman-part.body {
    width: 10px;
    height: 60px;
    top: 40px;
    left: 35px;
}

.home-hangman-part.left-arm,
.home-hangman-part.right-arm {
    width: 10px;
    height: 40px;
    top: 40px;
    left: 35px;
}

.home-hangman-part.left-arm {
    transform: rotate(-45deg);
    transform-origin: right bottom;
}

.home-hangman-part.right-arm {
    transform: rotate(45deg);
    transform-origin: left bottom;
}

.home-hangman-part.left-leg,
.home-hangman-part.right-leg {
    width: 10px;
    height: 40px;
    top: 100px;
    left: 35px;
}

.home-hangman-part.left-leg {
    transform: rotate(45deg);
    transform-origin: left top;
}

.home-hangman-part.right-leg {
    transform: rotate(-45deg);
    transform-origin: right top;
}

#hangman-g {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 60px;
    top: 1.2rem;
    left: -30px;    
}


#refresh-game {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FFA500; /* Orange color */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

#refresh-game:hover {
    background-color: #FF8C00; /* Darker orange */
}

/* Keyframes for the vertical animation */
@keyframes verticalMove {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

/* Apply the animation to the congratulatory popup */
#congratulations-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    animation: verticalMove 2s infinite;
}

#congratulations-popup h2 {
    margin: 0;
    font-size: 2em;
    color: #4CAF50;
}

#congratulations-popup p {
    margin: 10px 0 0;
    font-size: 1.2em;
}


.game-over {
    background-color: red;
}

#game-over-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    font-size: 1.5em; /* Increase the font size */
    font-family: 'Patrick Hand', cursive; /* Match the game theme */
}

#game-over-popup button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#game-over-popup button:hover {
    background-color: #45a049;
}

.correct-word {
    color: green;
    font-weight: bold;
}